img {
    border-radius: 50%;
  }
.ant-spin-nested-loading {
    background-color: white;
}

.ant-list-pagination {
    margin-top: 55px;
    text-align: center !important;
}

.dashboard{
    align-items: center;
}
.ant-card-hoverable{
    margin-left: 272px !important;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
}
.button-container {
    margin-left: 49px;
}
    
.button-container a {
    background-color: #fff;
    border: 2px solid #2199e8;
    padding: 15px 35px;
    border-radius: 4px;
}
.button-container a:hover {
    background-color: #2199e8;
    color: #fff;
}