img {
    border-radius: 50%;
  }
.ant-spin-nested-loading {
    background-color: #FFF7BC;
}

.ant-list-pagination {
    margin-top: 0px !important;
    position: relative;
    right: 0.8rem;
    text-align: center !important;
}

.dashboard{
    align-items: center;
}
.ant-card-hoverable{
    margin-left: 272px !important;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
}
.button-container {
    margin-left: 49px;
}
    
.button-container a {
    background-color: #fff;
    border: 2px solid #2199e8;
    padding: 15px 35px;
    border-radius: 4px;
}
.button-container:hover {
    background-color: #2199e8;
    color: #fff;
}

.Row1{
    position: relative;
    left: 9rem
}
.Row2{
    position: relative;
    left: 8.4rem;
    margin-bottom: 1rem;
}
.favourite{
    font-size: 1rem;
    position: relative;
    left: 0.6rem;
    bottom: 3rem;
}
.ant-card-body{
    padding: 0 !important;
}
.heart{
    position: relative;
    bottom: 3rem;
}

.Profile-Card{
    margin-top: 1rem !important;
    padding-top: 1rem !important;
    position: relative;
    left: 18.4rem;
}
.status{
    position: relative;
    top: 0.7rem;
    left: 8rem;
}
.dashboard-text{
    text-align: center;
}
.logout-button{
    position: absolute;
    top: 2rem;
    right: 4rem;
}



@import 'https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300';


div[class*=box] {
  height: 10%;
  width: 10%; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-1 { background-color: #FFF7BC; }


.btn {
  line-height: 50px;
  height: 50px;
  text-align: center;
  width: 250px;
  cursor: pointer;
}

/* 
========================
      BUTTON ONE
========================
*/
.btn-one {
  color: black;
  transition: all 0.3s;
  position: relative;
}
.btn-one span {
  transition: all 0.3s;
}
.btn-one::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-color: #00092C;
  border-bottom-color: #00092C;
  transform: scale(0.1, 1);
}
.btn-one:hover span {
  letter-spacing: 2px;
}
.btn-one:hover::before {
  opacity: 1; 
  transform: scale(1, 1); 
}
.btn-one::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.3s;
  background-color: rgba(137, 114, 114, 0.1);
}
.btn-one:hover::after {
  opacity: 0; 
  transform: scale(0.1, 1);
}






/* CSS */
.button-28 {
  appearance: none;
  background-color: transparent;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: #3B3B3B;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
  position: absolute;
  top: 2rem;
  left: 4rem;
}

.button-28:disabled {
  pointer-events: none;
}

.button-28:hover {
  color: #fff;
  background-color: #1A1A1A;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button-28:active {
  box-shadow: none;
  transform: translateY(0);
}
footer {
    position: absolute;
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    right: 0.35rem;
  }
  .text{
    font-family: 'Handlee', cursive;
    font-size: 2.5rem;
    margin-bottom: 0px;
  }